{% extends 'base.html' %}
{% block title %}{{ action }} Modul - Sora LMS{% endblock %}
{% block page_title %}{{ action }} Modul{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="sora-card">
            <div class="card-header-sora">
                <h6 class="fw-600 mb-0"><i class="bi bi-collection me-2 text-primary"></i>{{ action }} Modul</h6>
            </div>
            <div class="card-body-sora">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3"><label>Judul Modul *</label>{{ form.title }}</div>
                    <div class="mb-3"><label>Deskripsi</label>{{ form.description }}</div>
                    <div class="mb-3"><label>Urutan</label>{{ form.order }}</div>
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-sora-primary px-4"><i class="bi bi-check2 me-2"></i>Simpan</button>
                        <a href="{% url 'courses:course_detail' slug=course.slug %}" class="btn btn-outline-secondary px-4">Batal</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
